
.ant-menu-inline-collapsed-tooltip {
  .ant-tooltip-inner {
    a {
      color: #fff;
    }
  }
}

.popupSubMenu {
  .ant-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ant-menu-item-icon {
      width: 14px;
      height: 14px;
    }
  }


}
.ant-btn-primary {
  background-color: var(--ant-primary-color);

}
.ant-btn-primary.ant-btn-background-ghost {
  color: var(--ant-primary-color);

}
.ant-image-preview-img{
  display: inline-block;
}
.ant-btn-primary {

  background-color: var(--ant-primary-color);

}


.ant-switch {
  background: $gray-color;
}
.ant-segmented {
  background-color: $gray-second-color;
}

