
.dashboard-page{
  width: 100%;
  height: 100vh;

}
.map{
  height: 50%;
}
#map, #map-ub {
  width: 100%;
  height: 100%;
  svg {
    path {
      &:focus {
        outline: none;
      }
    }
  }
  .label {
    color: #ffffff !important;
  }
}
.left-part{

  .summary-bar{

  }
  .bottom-part{
    height: 50%;
    .ant-tabs{
      height: 100%;
      overflow: hidden;
      .ant-tabs-content-holder{
        height: calc(100% - 100px);
        .ant-tabs-content{
          height: 100%;
          .tab-content{
            height: 100%;
          }
        }
      }
    }

  }
}


.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.1rem 0.3rem 0px, rgba(0, 0, 0, 0.15) 0px 0.1rem 0.5rem 0px;
}


.leaflet-tooltip{
  opacity: 1 !important;
}
.highcharts-credits{
  display: none !important;
}
.map-back-btn{
  margin-top: 3rem;
}
